body{
    height: auto;
    width: 100%;
    background-color: rgb(231, 230, 230);
}

@keyframes photo {
    0%{
        background-image: url(gown.jpeg);
        background-position: center;
        background-size: cover;
    }
    20%{
        background-image: url(ppp.jpeg);
        background-position: center;
        background-size: cover;

    }
    40%{
        background-image: url(fly.jpeg);
        background-position: center;
        background-size: cover;

    }
    60%{
        background-image: url(on.jpeg);
        background-position: center;
        background-size: cover;
    }
}
.fashion{
    background-image: url(free.jpeg);
    width: 100%;
    height: 20vh;
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    background-image: url(logo.jpeg);
    width: 100%;
    height: 20vh;
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fly{
    background-image: url(fly.jpeg);
    width: 100%;
    height: 10vh;
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.animate{
    height: 10vh;
    width: 100%;
    background-image: url(gown.jpeg);   
    animation: photo 10s infinite ease-in-out;
    margin-top: 30px;
}
.category{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    background-color: white;
}
.list_style{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
.list_style li{
    width: 100%;
    height: 30vh;
    margin: 10px;
}
.list_style li img{
    border-radius: 10px;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(4, 4, 31);
    color: white;
    margin-top: 30px;
}
.footer_content button{
    padding: 10px;
    margin-left: 20px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.icons{
    font-size: 20px;
    gap: 20px;
}
.icons i{
    color: white;
}

@media screen and (max-width:950px){
    .list_style{
        list-style: none;
        display: flex;
        flex-direction: column;        
    }
    .list_style li{
        margin-top: 40px;
    }
}


